<!DOCTYPE html>
<html>
<head>
  <title>TunR</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'shared/header', locals: {title: @title || 'TunR' } %>

<%= render 'shared/flash' %>



<%= yield %>
<br/><br/><br/>

<%= render 'shared/footer' %>

</body>
</html>
