

<div class="details clearfix">
	<%= @titles_arr_chk %>
	<img src="<%= @poster %>">
	<h2> <%= @title %></h2>
	<p><%= @plot %></p>
	<p>
	Starring: <%= @actors %><br>
	Genre: <%= @genre %><br>
	Year: <%= @year %><br>

	IMDB Rating: <%= @imdb_rating %>
  </p>
</div>

