<%= form_for @painting do |f| %>
	<p>
	<!-- title -->
	<%= f.label :title %><br />
	<%= f.text_field :title %>
	</p>
	<p>
	<!-- artist -->
	<%= f.label :artist %><br />
	<%= f.collection_select :artist_id, Artist.all, :id, :name %>

	</p>
	<p>
	<!-- nationality -->
	<%= f.label :year %><br />
	<%= f.text_field :year %>
	</p>
	<p>
	<!-- DOB -->
	<%= f.label :medium %><br />
	<%= f.text_field :medium %>
	</p>
	<p>
	<!-- Period -->
	<%= f.label :style %><br />
	<%= f.text_field :style %>
	</p>
	<p>
	<!-- Image -->
	<%= f.label :image %><br />
	<%= f.text_field :image %>
	</p>
	<p><%= f.submit %>
<% end %>