<section id="post">
    <p>Title: <%= @blog_post["title"] %> </p>
    <p>Description: <%= @blog_post["description"] %> </p>
    <p>Body: <%= @blog_post["body"] %> </p> 
    <p>Author: <%= @blog_post["author"] %> </p>
    <p>Created At: <%= @blog_post["created_at"] %> </p>
    <p>Updated At: <%= @blog_post["updated_at"] %> </p>
    <p><a href='/posts/<%= @blog_post["id"] %>/edit'>edit</a> </p>
    <p>
        <form method="post" action="/posts/<%= @blog_post['id'] %>">
            <input type="hidden" name="_method" value="delete" />
            <button>Delete</button> 
        </form>
    </p>
</section>

<section id="comments">
<p>COMMENTS</p>

<% if @new_comment != nil %>
    <% @new_comment.errors.each do |x,y| %>
        <p><%=x.to_s + " " + y.to_s %></p>
    <% end %>
<% end %>


<% if @c_records.present? %>
    <% @c_records.each do |row| %>
        <p>Author: <%= row['author'] %> </p>
        <p>Created at: <%= row['created_at'] %> </p>
        <p>Content: <%= row['content'] %> </p>
        <p>ID: <%= row['id'] %> </p>
        <p>
            <form method="post" action="/posts/<%= @blog_post["id"] %>/comments/<%= row['id'] %>">
            <input type="hidden" name="_method" value="delete" />
                <button>Delete Comment</button> 
            </form>
        </p>
        <br/>
    <% end %>
<% end %>


</section>
<section id="add_comment">
<form method='post' action="/posts/<%= @blog_post["id"] %>/comments">

    <label>Author</label>
    <input type="text" name="comment[author]">

    <input type="hidden" name="comment[post_id]" value="<%= @blog_post["id"] %>">

    <label>Content:</label>
    <textarea name="comment[content]"></textarea>

    <button>New Comment</button>
</form>
<section>