<%= form_for([@artist, @album]) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :cover_image %><br>
    <%= f.text_area :cover_image %>
  </div>
  <!-- </div> -->
  <div class="field">
    <%= f.label :artist_id %><br>
    <% if @artist %>
      <%= f.hidden_field :artist_id, value: @artist.id %><%= @artist.name%>
    <% else %>
      <%= f.collection_select :artist_id, Artist.all, :id, :name, :include_blank => true %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
