<% content_for :title, "Show Album"%> 

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Cover image:</strong>
  <%= @album.cover_image %>
</p>

<p>
  <strong>Artist:</strong>
    <%= link_to @album.artist.name, artist_albums_path(@album.artist) %>
</p>

<% if @songs.present? %>
    <p><%= link_to 'Songs', album_songs_path(@album) %></p>
<% end %>

<% if @songs %>
    <p><%= link_to 'New Song', new_album_song_path(@album) %></p>
<% end %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
