<% content_for :title, "Show Artist"%> 

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artist.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @artist.image %>
</p>

<% @albums.each do |album| %>
    <p><%= link_to album.name, album_path(album) %></p>
<% end %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
