
<% @records.each do |post| %>
<div class="content">
<!-- Title of the post -->
<h2><%= post['title'] %></h2>

<!-- Tagline of the post -->
<h3><%= post['tagline'] %></h3>

<!-- Tagline of the post -->
<p><%= post['postbody'] %></p>

<!-- Author of the post -->
<h4>Created by <%= post['author'] %> </h4>

<!-- Time created -->
<h5>Created on <%= post['created_at'] %> </h5>

<!-- Time last updated  -->
<h5>Created on <%= post['updated_at'] %> </h5>
</div>
<% end %>

<a href="/posts">View all posts</a>

