<div id='logo'>
  <%= link_to image_tag('logo.png'), artists_path %>
</div>

<h1><%= @title %></h1>
<%= link_to 'Artists', artists_path %>
<%= link_to 'Albums', albums_path %>
<%= link_to 'Songs', songs_path %> 